# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

*.pdb
*.obj
*.log
*.tlog
*.exe
*.ilk
*.iobj
*.ipdb
*.idb
*.ipch
*.db
*.suo
*.opendb
*.db-shm
.vs/Utilities/v15/Solution.VC.db-wal
*.pdf
.vs/ProjectSettings.json
*.sqlite
.vs/VSWorkspaceState.json
*.db-wal